.flip-box {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 10px;
  cursor: pointer;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: white;
  border-radius: 5px;
}

.flip-box-back {
  background-color: white;
  border-radius: 5px;
  transform: rotateY(180deg);
}

.flip-box img{
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

.is-flipped {
  transform: rotateY(180deg);
}


@media screen and (max-width: 640px){
  .flip-box img{
    width: 95px;
    height: 95px;
  }
}
  

