@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

*{
  font-family: 'Berkshire Swash', cursive;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,h2{
  font-weight: bold;
  text-shadow: 0 0 10px #FFFFFF;
}

h5{
  margin-top: 5px;
}

body{
  background-color: #a0a3b5;
}

.header{
  padding: 40px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  height: 190px;  
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}

.bg-dark{
  background-color: #2b6bab !important;
}

.score{
  width: 100%;
  display: block;
  text-align: center;
  font-size: 22px;
}

.score span{
  display: inline;
  margin: 5px 20px;
  text-align: center;
}
.status {
  text-align: center;
  font-size: 22px;
}

.wrap-card {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}


.incorrect-click {
  animation: blinker-incorrect 1s linear;
}

.correct-click {
  animation: blinker-correct 1s linear;
}

@keyframes blinker-incorrect {  
  50% { opacity: 0; }
  0% {color: red;}
}

@keyframes blinker-correct {  
  50% { opacity: 0; }
  0% {color: green;}
}

.victory {
  margin: 20px auto;
  text-align: center;
  padding: 40px;
  color: darkgreen;
  font-weight: bold;
}
 
@media screen and (max-width: 980px){
  
}

@media screen and (max-width: 768px){
  
  
}

@media screen and (max-width: 640px){
  
  h2 {
    font-size: 16px;
  }
  
  h1 {
    font-size: 14px;
  }

  h5{
    font-size: 13px;
  }

  .score span{
    margin: 5px 10px;
  }
}
